<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <connectionStrings>
    <add name="DBCS" connectionString="server=DESKTOP-J8T4NV6\SQLEXPRESS; user id=sa; password=123456; database=Sample;"
      providerName="System.Data.SqlClient" />
    <add name="SampleConnectionString" connectionString="Data Source=DESKTOP-J8T4NV6\SQLEXPRESS;Initial Catalog=Sample;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>